* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
}

#root {
	position: relative;
}

p {
	margin: 0;
}

.slick-arrow {
	width: 30px;
	height: 30px;
	z-index: 2;
}

@media(min-width: 480px) {
	.slick-slider .slick-arrow.slick-next, .slick-slider .slick-arrow.slick-prev {
		display: block !important;
	}
}

.slick-dots li button::before {
	font-size: 12px;
}

.slick-arrow.slick-next {
	right: 10px;
	display: none !important;
}

.slick-arrow::before {
	font-size: 30px;
}

.slick-arrow.slick-prev {
	left: 10px;
	display: none !important;
}

.slick-dots {
	bottom: 20px;
}